.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  margin: 0 auto;
  gap: 0.5rem; /* space between form elements */
  padding: 2rem;
  background-color: #000000;
  border-radius: 5%;
}

.contact-form label {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 0.25rem;
}

.contact-form input,
.contact-form textarea {
  font-family: 'FranklinGothicBook';
  background-color: #242424;
  border: 1px solid #555;
  border-radius: 7px;
  padding: 0.25rem;
  color: white;
  font-size: 3vw;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.contact-form textarea {
  height: 12vw;
}

.submit-contact-form-button {
  font-family: 'FranklinGothicBook';
  align-self: flex-end;
  padding: 0.35rem 1.5rem;
  background-color: #242424;
  color: white;
  border: 1px solid black;

  border-radius: 7px;
  width: 100%;
  font-size: 3vw;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-contact-form-button:hover {
  border: 1px solid var(--joyla-red);
  transition: 0.3s ease;

}
