
:root {
  --joyla-red:#AD0707;
  --joyla-tan:#DCC7A7;
  --joyla-blue:#254FC5;
}

background-texture {
    background: url('/public/images/black-painted-wall-textured-background.jpg') center center / contain no-repeat; 
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  
    box-sizing: border-box;
    box-shadow: inset 0 0 60px 70px black;
}

.newsletter-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100vw;
  height: 12vh;

  color: white;
  background: radial-gradient(ellipse 45% 300%, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0));

  animation: fadeInDown 0.3s ease-in-out;
}

.newsletter-popup > p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.newsletter-popup-heading {
  margin-bottom: 8px;
  font-size: 8px;
}

.newsletter-popup-text {
  margin-bottom: 24px;
  font-size: 16px;
}

.newsletter-popup-input {
  padding: 4px 4px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 14px;
  border: 1px solid #fff;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.newsletter-button {
  background-color: var(--joyla-blue);
  font: 'LatinoGothic';
  color: white;
  border: none;
  padding: 0.3rem 2.1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.5rem;
  margin: 0.5em;
}



.home,
.vlog,
.discography,
.biography,
.store{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.vlog {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.home-header-video{

  /* background: url('/public/images/image-home.jpeg') center center / cover no-repeat; */
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  box-shadow: inset 0 0 60px 70px black;
}

.home-content {
  background-color: #000000;
  width: 90%;
  height: 120px;
  margin-top: 20px;

  justify-content: center;
  align-items: center;

  display: flex; /* change from 'columns' to 'flex' for better control */
  flex-direction: row;
  gap: 20px; /* spacing between thumbnail and description */
  padding: 10px;
  box-sizing: border-box;
}

.card {
  margin: 0 auto;
  padding: 2em;
  width: 90%;
  padding: 10px;
  background-color: #000000;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;

  text-align: center;
  border-radius:10px;
  position: relative;
}

.show-card {
  display: flexbox;
  column-count: 3;
  column-width: 43%;
  margin: 0 auto;
  padding: 2em;
  width: 90%;
  padding: 10px;
  background-color: #000000;
  color: white;

  text-align: left;
  border-radius:10px;
}

.music-card {
  display: grid; /* Set the container as a grid */
  grid-template-columns: 1fr 1fr; /* Create two columns of equal width */
  gap: 20px; /* Add a gap between columns (optional) */
  background-color: #000000;
  color: white;

}

.card-title {

  background-color: #000000;
  color: white;
  margin-top: 25px;

  text-align: center;
  border-radius:10px;
  position: relative;

}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::before, .card::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: red; */
  background-color: var(--joyla-red);
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  z-index: -1;
  padding: 1px;
  border-radius: 10px;

  /* transform: translate(0.5%, 0.5%); */

  filter: blur(0.2rem);
} 

.home-header-image{

  background: url('/public/images/home_promo_banner.jpg') center center / cover no-repeat;
  color: white;
  width: 100%;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  box-shadow: inset 0px 0px 30px 30px black;
}

.biography-header-image{

  background: url('/public/images/image-about.jpeg') center center / cover no-repeat;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  box-shadow: inset 0 0 100px 90px black;
}

.music-cover-doctor {

  background: url('/public/images/doctor_cover.jpg') center center / cover no-repeat;
  width: 40vw;
  height: 40vw;

}

.music-cover-doctor:hover {
  filter: blur(0.2em) brightness(0.8);
}

.music-cover-highandlow {

  background: url('/public/images/high_and_low_cover.jpg') center center / cover no-repeat;
  width: 40vw;
  height: 40vw;
  
  }

  .music-cover-highandlow:hover {
    filter: blur(0.2em) brightness(0.8);
  }


.discography-header-image{

  background: url('/public/images/image-discography.jpeg') center center / cover no-repeat;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  box-shadow: inset 0 0 100px 90px black;
}

.spotify-wrapper{
  width: 100%;
  margin-top: 20px;

}

.vlog-header-image{

  background: url('/public/images/image-vlog.jpeg') center center / cover no-repeat;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  box-shadow: inset 0 0 100px 90px black;
}

.vlog-entry {
  background-color: #000000;
  color: white;
  width: 90%;
  height: 120px;
  margin-top: 20px;

  display: flex; /* change from 'columns' to 'flex' for better control */
  flex-direction: row;
  gap: 20px; /* spacing between thumbnail and description */
  padding: 10px;
  box-sizing: border-box;
}

.thumbnail {
  font-family: "Barrio", serif;
  font-weight: 400;
  font-style: normal;
  flex: 1; /* take up half the space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail:hover {
  height: 90px;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.description {
  font-family: "Barrio", serif;
  font-weight: 400;
  font-style: normal;
  flex: 2; /* take up more space for text */
  display: flex-;
  flex-direction: column;
  justify-content: left;
}

/* FONTS FROM BRAND GUIDE */
@font-face {
  font-family: 'FranklinGothicBook';
  src: url('./fonts/FranklinGothicURWCondBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FranklinGothicBook';
  src: url('./fonts/FranklinGothicURWCondBookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'LatinoGothic';
  src: url('./fonts/LatinoGothic-VariableVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family: 'LatinoGothic',sans-serif;
  letter-spacing: 0.1em;
}

h2{
  font-family: 'LatinoGothic', sans-serif;
  letter-spacing: 0.1em;
}

p{
  font-family: 'FranklinGothicBook', sans-serif;
  letter-spacing: 0.05em;
  font-size: 2.5vw;
}



.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

.barrio-regular {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}


.store-header-image{

  background: url('/public/images/image-store.jpeg') center center / cover no-repeat;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  box-shadow: inset 0 0 100px 90px black;
}



.main-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevent overlay overflow */
  z-index: 1;

  background: 
    linear-gradient(to bottom, black 0%, transparent 20%, transparent 80%, black 100%),
    url('/public/images/black-texture-vertical3.jpg') center center / cover no-repeat;
}


.biography-text {
  background-color: #000000;
  color: white;

  margin: 20px;            
  padding: 20px;          

  height: 20%;
  width: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.card-image{
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), var(--joyla-red));
  display: block; 
  margin: 0 auto; 
  max-width: 100%
}

.vignette {
  width: 400px;
  height: 300px;
  background-image: url('/public/images/image-home.jpeg');
  background-size: cover;
  background-position: center center;
  padding: 150px 200px;
  box-sizing: border-box;
  box-shadow: inset 0 0 70px 50px rgb(24, 24, 24);
}

.banner
{
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: white;
  margin-top: 15px;

  text-align: center;
  border-radius:10px;
  position: relative;
}

.cookie-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(90deg, rgb(5, 5, 5), rgb(14, 14, 14), rgb(5, 5, 5));
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 0.3s ease-in-out;
}

.cookie-popup-content {

  color: white;
  padding: 0.8rem 2rem;
  border-radius: 10px 10px 0 0;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
  text-align: center
}

.cookie-popup-content p {
  margin: 0 0 0.8rem 0;
  font-size: 0.8rem;
}

.cookie-popup-content button {
  background-color: var(--joyla-blue);
  font: 'LatinoGothic';
  color: white;
  border: none;
  padding: 0.3rem 3.0rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7rem;
}

.show-button {
  background-color: var(--joyla-tan);
  font: 'LatinoGothic';
  color: black;
  border: none;
  padding: 0.3rem 1.0rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.6rem;

}

button-horizontal-wrapper {
  margin-top: 10vu;
}

button-mailing-list {
  background-color: var(--joyla-red);
  color: white;
  font: "FranklinGothicBook"
}

.contact-card {
  background-color: black;
  border: 2px solid var(--joyla-red);
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



@keyframes fadeInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translateY(-120%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
